@media(max-width: 768px) {

    /* Registration page  */

    .wall-img {
        width: 400%;
    }

    .logo-area {
        width: 100%;
        transform: translate(0, 15%);
    }

    .left-logo {
        width: 150px;
    }

    .create-Account {
        width: 100%;
    }

    .account-input {
        width: 100%;
        margin: 7px 0;
    }

    .account-box {
        width: 95%;
        padding: 0 10px;
        margin: 40px auto;
    }

    .account-box h2 {
        margin: 10px 0;
    }

    .icon-create {
        left: 10px;
    }

    .formtext {
        margin: 0;
    }

    .account-btn {
        width: 100%;
        margin: 10px 0 20px 0;
    }

    /* /Registration page  */

    /* login page  */

    .verification-box {
        width: 90% !important;
    }
    .login-btn {
        width: 100%;
    }

    /* /login page  */
    /* user waiting page  */

    .information-box {
        width: 90%;
        transform: translate(0, 5%);
    }

    .logo-info {
        width: 100%;
    }

    .info-logo {
        width: 25%;
        margin-top: 20px;
    }

    .text-info {
        width: 100%;
    }

    /* user waiting page  */
}

@media(max-width: 480px) {
    .resent-otp {
        width: 100%;
        display: block;
        margin: 0 0 5px 0;
    }

    .ver-otp {
        width: 100%;
        display: block;
        margin: 5px 0 0 0;
    }

    .btn-otp {
        padding: 20px 0 10px 0;
    }

    .otp-box span {
        width: 100%;
    }
}