/* Custom All Css  */

:root {
    --blue: #053371;
    --bluehover: #0d50a8;
    --black: #000000;
    --lightblue: #14b0e1;
    --lightbluehover: #057192;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.wall-img {
    width: 100%;
    position: fixed;
    z-index: -1;
}

a {
    text-decoration: none;
}

/* // Custom All Css  */

/* Registation page  */

.main {
    display: block;
    font-size: 0;
}

.logo-area {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transform: translate(0, 90%);
}

.left-logo {
    width: 250px;
}

.create-Account {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.account-box h2 {
    font-family: 'Inter', sans-serif;
    color: var(--blue);
    font-size: 24px;
    font-style: normal;
    cursor: default;
    font-weight: 700;
    line-height: normal;
    margin: 10px 15px;
}

.account-box {
    width: 70%;
    position: relative;
    border-radius: 15px;
    border: 1px solid var(--blue);
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 6px 6px 1px 0px rgba(41, 99, 168, 0.45);
    margin: 45px 0;
}

.create-form {
    font-size: 14px;
}

.account-input {
    position: relative;
    width: 96%;
    margin: 7px 12px;
    padding: 5px 0 5px 40px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid var(--blue);
}

.input-box {
    position: relative;
}

.password-eye {
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 7px;
    font-size: 22px;
    color: var(--lightblue);
}


.password-eye:hover {
    color: var(--blue);
    display: block;
}

.pass-hide {
    display: none;
}


.icon-create {
    position: absolute;
    font-size: 22px;
    z-index: 1;
    left: 20px;
    top: 7px;
    color: var(--lightblue);
}

.formtext {
    margin: 0 15px;
    cursor: default;
    color: var(--black);
}

.account-btn {
    width: 95%;
    margin: 10px 15px 20px 15px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    background: linear-gradient(45deg, #12467f, #14b5e5);
    color: #fff;
    transition: 1s;
    border-radius: 5px;
}

.account-btn:hover {
    transition: 1s;
    background: linear-gradient(45deg, #04294f, #085f79);
}

.formtext a {
    color: #134383;
    font-weight: 600;
    transition: 1s;
}

.formtext a:hover {
    transition: 1s;
    padding-left: 5px;
    color: #04294f;
    font-weight: 600;
}

/* /Registation page  */

/* verification page css  */

.verification-box {
    width: 40%;
    background: rgba(255, 255, 255, 0.60);
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    transform: translate(0, 40%);
    box-shadow: 4px 4px 1px 0px rgba(41, 99, 168, 0.45);
    border: 1px solid var(--blue);
}

.verification-logo {
    width: 130px;
    margin: auto;
    display: block;
}

.verification-box p {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: default;
    margin: 15px auto;
    display: block;
    text-align: center;
    color: var(--blue);
}

.otp-box {
    display: block;
    font-size: 0px;
    text-align: center;
}

.otp-input {
    vertical-align: middle;
    display: inline-block;
    font-size: 30px;
    padding: 0;
    width: 10%;
    outline: none;
    text-align: center;
    margin: 0 4px;
    border: none;
    background: none;
    border-bottom: 1px solid #000;
}

.verification-box strong {
    color: var(--blue);
}

.btn-otp {
    display: block;
    font-size: 0;
    padding: 30px 0 10px 0;
}

.otp-box span {
    display: block;
    font-size: 14px;
    text-align: center;
    cursor: default;
    font-weight: 500;
    padding-top: 10px;
    width: 70%;
    margin: auto;
}

.resent-otp,
.ver-otp {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
}

.resent-otp {
    border: none;
    background: var(--lightblue);
    padding: 7px 62px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
    transition: 0.5s;
}

.resent-otp:hover,
.ver-otp:hover {
    background: var(--lightbluehover);
    box-shadow: 2px 2px 0 #b3b1b1;
    transition: 0.5s;
}

.ver-otp {
    border: none;
    background: var(--blue);
    padding: 7px 62px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    margin: 0 0 0 5px;
    text-transform: uppercase;
}

.ver-otp:hover {
    background: var(--bluehover);
}

/* /verification page css  */

/* login page  */
.sign-in {
    margin: 20px 0 !important;
    padding: 0 !important;
    font-size: 30px !important;
    font-weight: 700 !important;
}

.login-box {
    transform: translate(0, 20%);
    width: 30% !important;
}

.remember {
    width: 50%;
    display: inline-block !important;
    vertical-align: middle;
    text-align: left !important;
    margin: 0 0 !important;
    padding: 5px 0 0 10px;
    outline: none;
    font-size: 15px !important;
    color: var(--black) !important;
}

.rembember-box {
    display: block;
    font-size: 0;
}

.checkboxx-Rem {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.forgot-pass {
    text-transform: capitalize;
    width: 50%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: right !important;
    padding-right: 10px;
    color: var(--blue);
    font-weight: 500;
    transition: 1s;
}

.forgot-pass:hover {
    padding-right: 15px;
    transition: 1s;
    color: var(--bluehover);
}

.login-btn {
    margin: 15px 0;
    width: 96%;
    font-size: 18px;
    padding: 7px 0;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    background: linear-gradient(45deg, #12467f, #14b5e5);
    color: #fff;
    transition: 1s;
    border-radius: 5px;
}

.login-btn:hover {
    transition: 1s;
    background: linear-gradient(45deg, #04294f, #085f79);
}

.login-info {
    margin: 0 0 !important;
    text-align: left !important;
    padding-left: 15px;
    color: #000 !important;
}

.login-info a {
    color: var(--blue);
    transition: 1s;
}

.login-info a:hover {
    color: var(--lightbluehover);
    padding-left: 5px;
    transition: 1s;
}

/* /login page  */

/* waiting page   */
.information-box {
    width: 80%;
    background: rgba(255, 255, 255, 0.60);
    margin: auto;
    transform: translate(0, 12%);
    box-shadow: 4px 4px 1px 0px rgba(41, 99, 168, 0.45);
    display: block;
    border-radius: 15px;
    border: 1px solid var(--blue);
    font-size: 0;
}


.logo-info {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.info-logo {
    width: 50%;
}

.text-info {
    font-size: 15px;
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    color: var(--black) !important;
    margin: 0 !important;
    font-weight: 500;
    padding: 40px;
    text-align: justify;
    
    
}
.text-info a {
    transition: 1s;
}

.text-info a:hover {
    padding-left: 5px;
    transition: 1s;
}

.send-otp {
    position: absolute;
    top: 13px;
    right: 15px;
    color: var(--lightblue) !important;
    margin: 0 !important;
}

.send-otp:hover{
    cursor: pointer;
    color: var(--blue) !important;
}
/* /waiting page   */